# sudo apt-get install python3-tk
asgiref==3.6.0
async-timeout==4.0.2
attrs==21.2.0
blinker==1.4
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==3.1.0
cliapp==1.20180812.1
cmdtest==0.32+git
command-not-found==0.3
contourpy==1.3.1
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.8
cycler==0.12.1
dbus-python==1.2.18
distro==1.7.0
distro-info===1.1build1
Django==4.2
django-auth-adfs==1.11.5
django-azure-ad-auth==1.3.1
django-azure-auth==1.1.0
django-cors-headers==4.0.0
django-rest-swagger==2.2.0
djangorestframework==3.14.0
djangorestframework-camel-case==1.4.2
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.19
drf-yasg==1.21.5
fonttools==4.55.8
gyp==0.1
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
inflection==0.5.1
itypes==1.2.0
jeepney==0.7.1
Jinja2==3.1.2
jsonschema==3.2.0
keyring==23.5.0
kiwisolver==1.4.8
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lxml==4.9.2
Markdown==3.3.6
MarkupSafe==2.1.2
matplotlib==3.10.0
more-itertools==8.10.0
mpmath==1.3.0
ms-identity-web @ git+https://github.com/azure-samples/ms-identity-python-utilities@9b32cef36c6c0b73c1b3237fdd66128d89f90a62
msal==1.22.0
netifaces==0.11.0
numpy==2.2.2
oauthlib==3.2.0
openapi-codec==1.3.2
packaging==23.1
pillow==11.1.0
psycopg2-binary==2.9.6
pydub==0.25.1
pygame==2.5.0
pygbag @ git+https://github.com/pygame-web/pygbag@1d3b6c9feed9ac79ced18ebea018df9095c1befa
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.6.0
pyparsing==2.4.7
pyrsistent==0.18.1
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2023.3
PyYAML==5.4.1
redis==4.5.4
requests==2.28.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
SecretStorage==3.3.1
simplejson==3.19.1
six==1.16.0
speedtest-cli==2.1.3
sqlparse==0.4.3
ssh-import-id==5.11
sympy==1.13.3
systemd-python==234
texttable==1.6.4
ttystatus==0.38
ubuntu-advantage-tools==27.11.2
ufw==0.36.1
unattended-upgrades==0.1
uritemplate==4.1.1
urllib3==1.26.15
wadllib==1.3.6
websocket-client==1.2.3
zipp==1.0.0
